@font-face {
    font-family: 'myFont';
    src: url("../font/GothamRoundedMedium.ttf") format("truetype");
 }
$fontMain: 'myFont', sans-serif;
$boxBackgroundColor: #f8dcf2;
$resultBackgroundColor: #391d35;
$linearRight: #e85ba6;
$linearleft: #e28bf7;